* {
    color: #040288;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-image: url(img/resize-1586535177688227377background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100; */
}

h1 {
    text-align: center;
    padding: 20px;
    color: #040288;
    font-size: x-large;
    margin-bottom: rem;
    max-width: 100%;
    height: auto;
    display: block;
    border-style: solid;
    border: 0 solid #e2e8f0;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    line-height: 1.5;
    --transition-duration: 250ms;
    box-sizing: inherit;
}

h2 {
    padding: 0px;
    font-size: 1.4rem;
    color: #083e9e;
    text-align: center;
    justify-content: center;
    font-weight: 700;
    font-family: U8, sans-serif;
    margin: 0;
    --transition-duration: 250ms;
    border: 0 solid #e2e8f0;
    box-sizing: inherit;
    display: block;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5;
}

h3 {
    padding: 0px;
    /* font-size: large; */
    /* color: black; */
    text-align: center;
    font-size: .875rem;
    color: #4a5568;
    font-family: Karla, sans-serif;
    margin: 30px auto 0;
    --transition-duration: 250ms;
    border: 0 solid #e2e8f0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5;
}

h6 {
    padding: 0px;
    font-size: large;
    color: black;
    text-align: center;
    font-size: .875rem;
    color: white;
    font-family: Karla, sans-serif;
    margin: 30px auto 0;
    --transition-duration: 250ms;
    border: 0 solid #e2e8f0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.5;
}

.register {
    background: white;
    color: #040288;
    width: 400px;
    max-width: 28rem;
    padding-bottom: 3rem;
    padding: 2.5rem;
    margin: 30px auto 0;
    border-radius: 10px;
    border: 0 solid #e2e8f0;
    border-bottom-right-radius: 1.25rem;
    border-bottom-left-radius: .1rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    box-sizing: inherit;
}

root {
    background: white;
    padding-bottom: 3rem;
    padding: 2.5rem;
    width: 20.667%;
    max-width: 28rem;
    border-bottom-right-radius: 1.25rem;
    border-bottom-left-radius: .1rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    --transition-duration: 250ms;
    border: 0 solid #e2e8f0;
    box-sizing: inherit;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
    line-height: 1.5;
    margin-left: 40px;
}

label {
    font-family: sans-serif;
    font-size: .7rem;
    color: #4a5568;
    margin-bottom: .25rem;
    line-height: 2;
    font-weight: 700;
    --transition-duration: 250ms;
    border: 0 solid #e2e8f0;
    box-sizing: inherit;
    cursor: default;
}

input {
    width: 300px;
    border-radius: .25rem;
    border: 0 solid #e2e8f0;
    margin: 0;
    padding: 7px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #1a202c;
    outline: 0;
    background-color: #edf2f7;
    line-height: inherit;
    font-family: inherit;
    font-size: 100%;
    --transition-duration: 250ms;
    text-rendering: auto;
    font: 400 13.3333px Arial;
}

form {
    width: 330px;
    border: none;
    border-radius: .25rem;
    border-bottom-right-radius: .75rem;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    padding: 7px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    outline: 0;
    background-color: white;
    text-transform: uppercase;
    text-align: left;
}

select {
    width: 330px;
    border: none;
    border-radius: .25rem;
    border: 0 solid #e2e8f0;
    margin: 0;
    padding: 7px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #1a202c;
    outline: 0;
    line-height: inherit;
    font-family: inherit;
    font-size: 100%;
    --transition-duration: 250ms;
    text-rendering: auto;
    font: 400 13.3333px Arial;
    background-color: #edf2f7
}

input[type="submit" i] {
    width: 300px;
    border: 0px solid #2E1263;
    border-radius: .25rem;
    border-bottom-right-radius: .75rem;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
    padding: 7px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
    outline: 0;
    background-color: #083e9e;
    font-size: .875rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    transition: 0.11s;
    text-decoration: underline;
}